<div class="container">
  <div class="mt-4">
    <ul class="nav nav-tabs nav-justified">
      <li class="nav-item">
        <%= link_to "投稿", search_posts_path, class:"active pt-3 fs-5 fw-bold nav-link px-4" %>
      </li>
      <li class="nav-item">
        <%= link_to "地図", search_map_path, class:"pt-3 fs-5 nav-link link-secondary px-4" %>
      </li>
      <li class="nav-item">
        <%= link_to "ユーザー", search_users_path, class:"pt-3 fs-5 nav-link link-secondary px-4" %>
      </li>
    </ul>
  </div>
  <div class="border border-3 bg-light mt-4 p-4">
    <%= search_form_for @q, url: search_posts_path do |f| %>
      <div class="mb-2 d-grid">
        <%= f.text_field :title_or_explanation_cont, placeholder: "投稿内容で探す", class:"form-control" %>
      </div>
      <div class="d-flex justify-content-between mb-2">
        <div class="col-3">
          <%= f.label "都道府県", class:"form-label" %>
          <%= f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name, { include_blank: "" }, class:"form-select" %>
        </div>
        <div class="col-9">
          <%= f.label "地域名・道・住所", class:"form-label" %>
          <%= f.text_field :place_or_address_cont, placeholder: "道の名前・地域名・住所で探す", class:"form-control" %>
        </div>
      </div>
      <div class="text-end">
        <%= f.submit "検索", class: "btn btn-secondary px-4" %>
      </div>
    <% end %>
  </div>
  <% if @posts.length !=0 %>
    <%= render 'user/shared/post_list' %>
  <% else %>
    <p class="fs-5 mt-4 text-center">検索結果はありません。他のキーワードで検索してみましょう！！</p>
  <% end %>
  <%= paginate @posts %>
</div>