<div class="container">
  <div class="row mb-5">
    <div class="col">
      <h1>サイクリングスポット検索</h1>
      <div>
        <%= search_form_for @q, url: search_posts_path do |f| %>
          <%= f.text_field :title_or_explanation_cont, placeholder: "投稿内容で探す" %>
          
          <%= f.label "都道府県" %>
          <%= f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name, include_blank: "---" %>        
          <%= f.label "地域名・道・住所" %>
          <%= f.text_field :place_or_address_cont, placeholder: "道の名前・地域名で探す" %>
          
          <%= f.submit "検索", class: "search-btn" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <% if @posts.length !=0 %>
      <% @posts.each do |post| %>
        <div class="col">
          <div class="card h-100 shadow-lg">
            <%= link_to post_path(post) do %>
              <%= attachment_image_tag post, :image, width: 50, class:"card-img-top img-fluid", fallback:"no_image.jpg" %>
            <% end %>
            <div class="card-body">
              <p class="card-title text-dark">
                <%= link_to post.title, post_path(post) %>
              </p>
              <div class="card-text">
                <p class="text-secondary"><%= post.prefecture.name %></p>
                <p class="text-secondary"><%= post.place %></p>
                <p class="text-secondary"><%= post.genre %></p>
                <%= link_to user_path(post.user) do %>
                  <%= attachment_image_tag post.user, :profile_image, size:"30x30", fallback: "no_image.jpg", class:"rounded-circle" %>
                  <%= post.user.nickname %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      検索結果はありません.他のキーワードで検索してみましょう！！
    <% end %>
  </div>
</div>