<div class="container">
  <div class="mt-4 mb-4">
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <%= link_to "サイクリングスポット", search_posts_path, class:"pt-3 fs-5 fw-bold nav-link link-secondary px-4" %>
        </li>
        <li class="nav-item">
          <%= link_to "会員", search_users_path, class:"active pt-3 fs-5 nav-link px-4" %>
        </li>
      </ul>
  </div>
  <div class="border border-3 bg-light mt-4 p-4">
    <%= search_form_for @q, url: search_users_path do |f| %>
      <div class="mb-2 d-grid">
        <%= f.text_field :nickname_or_how_to_enjoy_cont, placeholder: "ニックネーム・走り方で探す", class:"form-control" %>
      </div>
      <div class="d-flex justify-content-between mb-2">
        <div class="col-4">
          <%= f.label :prefecture, "活動地域", class:"form-label" %>
          <%= f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name, { include_blank: "" }, class:"form-select" %>
        </div>
        <div class="col-4">
          <%= f.label :bicycle_model, "車種", class:"form-label" %>
          <%= f.select :bicycle_model_eq, User.bicycle_models.keys, { include_blank: "" }, class:"form-select" %>
        </div>
        <div class="col-4">
          <%= f.label :average_distance, "平均走行距離", class:"form-label" %>
          <%= f.select :average_distance_eq, User.average_distances.keys, { include_blank: "" }, class:"form-select" %>
        </div>
      </div>
      <div class="text-end">
        <%= f.submit "検索", class: "btn btn-secondary px-4" %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <% if @users.length !=0 %>
      <% @users.each do |user| %>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-5">
                  <%= link_to user_path(user) do %>
                    <%= attachment_image_tag user, :profile_image, size:"60x60", fallback: "no_image.jpg", class:"rounded-circle" %>
                  <% end %>
                </div>
                <div class="col-7">
                  <p class="card-title text-dark">
                    <%= link_to user.nickname, user_path(user) %>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="card-text">
                  <div class="text-secondary"><%= user.prefecture.name %></div>
                  <div class="text-secondary"><%= user.bicycle_model %></div>
                  <div class="text-secondary"><%= user.average_distance %></div>
                </div>
              </div>
              <div class="row">
                <p class="card-text d-inline-block text-truncate" style="max-width: 150px;">
                  <%= user.description %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      検索結果はありません。他のキーワードで検索してみましょう！！
    <% end %>
  </div>
</div>