<div class="container">
  <div class="row">
    <div class="col-12 mb-3">
      <div class="row">
        <div class="col-4">
          <%= attachment_image_tag @user, :profile_image, size: "100x100", fallback: "no_image.jpg",class:"rounded-circle" %></br>
          <%= @user.nickname %>
        </div>
        <div class="col-5">
          <ul>
            <li><%= @user.prefecture.name %></li>
            <li><%= @user.bicycle_model %></li>
            <li><%= @user.average_distance %></li>
            <li><%= @user.how_to_enjoy %></li>
          </ul>
        </div>
        <div class="col-3">
          <% if @user.id == current_user.id %>
            <%=  link_to "編集", edit_user_path(@user), class:"btn btn-outline-secondary"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 mb-3">
    <div class="border">
      <%= @user.description %>
    </div>
  </div>
  <div>
    <h3><%= @user.nickname %>さんのおすすめスポット</h3>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
      <%= render 'user/shared/post_list' %>
    </div>
    <div>
      <%= paginate @posts %>
    </div>