<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 mx-auto">
      <h2 class="my-4 fw-bold">新規投稿</h2>
      <div class="alert alert-danger">
        <ul>
          <% if @post.errors.any? %>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <%= form_with model: @post, local:true do |f| %>
        <div class="mb-3">
          <%= f.label :image, class:"form-label" %><br>
          <%= f.attachment_field :image, class:"form-control-file" %>
        </div>
        <div class="mb-3">
          <%= f.label :title, class:"form-label" %>
          <%= f.text_field :title, class:"form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :explanation, class:"form-label" %>
          <%= f.text_area :explanation, rows:"6", class:"form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :prefecture_id, class:"form-label" %><br>
          <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "false"}, class:"form-select" %>
        </div>
        <div class="mb-3">
          <%= f.label :place, class:"form-label" %><br>
          <%= f.text_field :place, class:"form-control", placeholder:"奥多摩、渋峠、多摩川サイクリングロード　等" %>
        </div>
        <div class="mb-3">
          <%= f.label :address, "住所（住所検索して記載してください）", class:"form-label" %>
          <%= f.text_field :address, class:"form-control", placeholder:"東京都世田谷区多摩川○-○" %>
        </div>
        <div class="mb-3">
          <%= f.label :genre, class:"form-label" %><br>
          <%= f.select :genre, Post.genres.keys, {prompt: "--選択してください--"}, class:"form-select" %>
        </div>
        <div class="mb-3">
          <%= f.label :tag, "タグ (複数のタグは , (半角)で区切ってください)", class:"form-label" %>
          <%= f.text_area :name, rows:"2", class:"form-control", placeholder:"サイクルラック,春,峠" %>
        </div>
        <div class="mb-3 d-grid">
          <%= f.submit "投稿", class:"btn btn-lg btn-outline-success" %>
        </div>
      <% end %>
    </div>
  </div>
  <%= render 'user/posts/map' %>
</div>