<div class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 mx-auto">
      <h2 class="my-4 fw-bold">サイクルスポット</h2>
      <div class="card">
        <%= attachment_image_tag @post, :image, fallback: "no_image.jpg", class:"card-img img-thumbnail img-fluid" %>
      </div>
      <p class="text-end"><%= @post.updated_at.strftime('%Y/%m/%d') %></p>
      <div class="row">
        <div class="col-12">
          <div class="d-flex align-items-end">
            <div>
              <%= attachment_image_tag @post.user, :profile_image, size: "40x40", fallback: "no_image.jpg",class:"rounded-circle" %>
            </div>
            <div class="ms-2"><%= link_to @post.user.nickname, user_path(@post.user), class:"text-dark" %></div>
            <div class="btn btn-sm btn-secondary ms-4"><%= @post.genre_i18n %></div>
            <div class="ms-4"><i class="fas fa-map-marker-alt"></i><%= @post.prefecture.name %>/<%= @post.place %></div>
            <div class="text-end ms-auto">
              <% if @post.user.id == current_user.id %>
                <%=  link_to "編集", edit_post_path(@post), class:"btn btn-outline-secondary"%>
              <% end %>
            </div>
          </div>
          <h3 class="fw-bold py-4 border-bottom"><%= @post.title %></h3>
          <div class="border-bottom p-3">
            <%= @post.explanation %>
          </div>
          <div id="thanks-btn_<%= @post.id %>">
            <%= render "user/thanks/thanks-btn", post: @post %>
          </div>
          <table class="table mt-3">
            <tbody class="table-light">
              <tr>
                <td class="text-center"><i class="fas fa-map-marker-alt"></i></td>
                <td><%= @post.address %></td>
              </tr>
              <tr>
                <td class="text-center"><i class="fas fa-tag"></i></td>
                <td>
                  <% @post_tags.each do |tag| %>
                    <span>#<%= tag.name %></span>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--地図-->
      <div class="border mt-4">
        <div id="map"></div>
        <style>
          #map{
              height: 300px;
          }
        </style>
        <script type="text/javascript">
          let map;
          let marker = []; //マーカーの配列化
          let infoWindow = []; //吹き出しの配列化
          let markerInfo = gon.posts;

          function initMap() {
            var latlng ={lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
            map = new google.maps.Map(document.getElementById('map'), {
              zoom: 13,
              center: latlng
            });

            var bikeLayer = new google.maps.BicyclingLayer();
            bikeLayer.setMap(map);

            for (let i = 0; i < markerInfo.length; i++) {
                //投稿のidを変数に指定
                let id = markerInfo[i]['id']

                // 投稿の緯度経度を取り出す
                markerLatLng = new google.maps.LatLng({
                  lat: markerInfo[i]['latitude'],
                  lng: markerInfo[i]['longitude']
                });

                // 各投稿のマーカー作成
                marker[i] = new google.maps.Marker({
                  position: markerLatLng,
                  map: map
                });

                // 各投稿の吹き出しを作成
                contentString = `<h6><a href='/posts/${ id }'>${markerInfo[i]['title']}</a></h6>` +
                  `<p>${markerInfo[i]['genre']}</p>`;

                infoWindow[i] = new google.maps.InfoWindow({
                  content: contentString
                });

                marker[i].addListener('click', function(){
                  infoWindow[i].open(map, marker[i]);
                });
              }
            }
        </script>
        <script async defer
          src="https://maps.googleapis.com/maps/api/js?language=ja&v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
        </script>
      </div>
      <!--コメント欄-->
      <%= render "user/posts/comment" %>
    </div>
  </div>
</div>