<div class="container">
  <div class="row">
    <h2>サイクルスポット</h2>
    <div class="col-10 mb-3">
      <div>
        <% if @post.user.id == current_user.id %>
          <%=  link_to "編集", edit_post_path(@post), class:"btn btn-outline-secondary"%>
        <% end %>
      </div>
      <div>
        <%= attachment_image_tag @post, :image, fallback: "no_image.jpg", class:"img-fluid" %>
      </div>
      <p class=""><%= @post.updated_at.strftime('%Y/%m/%d') %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-10 mb-3">
      <h3><%= @post.title %></h3>
      <p><%= @post.prefecture.name %>/<%= @post.place %></p>
      <div>
        <%= attachment_image_tag @post.user, :profile_image, size: "100x100", fallback: "no_image.jpg",class:"rounded-circle" %>
        <%= @post.user.nickname %>
        <p>thanks</p>
      </div>
      <div class="border py-3">
        <%= @post.explanation %>
      </div>
      <table class="table">
        <tbody class="table-light">
          <tr>
            <td>〒</td>
            <td><%= @post.address %></td>
          </tr>
          <tr>
            <td>タグ</td>
            <td>
              <% @post_tags.each do |tag| %>
                <span>#<%= tag.name %></span>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-10 mb-3">
      <div class="border">
        <!--地図-->
        <div id="map"></div>
        <script type="text/javascript">
          function initMap() {
            var test ={lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15, 
              center: test
            });
            var transitLayer = new google.maps.TransitLayer();
            transitLayer.setMap(map);
            var contentString = '住所：<%= @post.address %>';
            var infowindow = new google.maps.InfoWindow({
              content: contentString
            });
            
            var marker = new google.maps.Marker({
              position:test,
              map: map,
              title: contentString
            });
            
             marker.addListener('click', function() {
               infowindow.open(map, marker);
             });
          } 
        </script>
        <script async defer
          src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
        </script>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-10 mb-3">
      <h3>コメント投稿フォーム</h3>
      <div>
        <%= form_with(model:[@post, @post_comment], local: true) do |f| %>
          <div>
            <%= f.text_area :comment, rows:'4' %>
          </div>
          <div>
            <%= f.submit "コメント投稿", class:'btn btn-secondary mt-3' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-10 mb-3">
      <h3>コメント一覧<span><%= link_to "#{@post.post_comments.count} コメント", post_path(@post.id) %></span></h3>
      <ul>
        <% @post.post_comments.each do |post_comment| %>
          <li>
            <div class="row">
              <div class="col-4 mb-3">
                <%= attachment_image_tag post_comment.user, :profile_image, size: "50x50", fallback: "no_image.jpg", class:"rounded-circle" %>
              </div>
              <div class="col-8 mb-3">
                <div class="border bg-light">
                  <%= post_comment.comment %>
                </div>
                <div>
                  <% if post_comment.user == current_user %>
                    <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, class:"btn btn-danger" %>
                  <% end %>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>